In [1]:
import os
 

import numpy as np
import pandas as pd
import pickle

In [2]:
dataset = pd.read_csv('adult.csv')

In [4]:
dataset

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [5]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [6]:
dataset['income'] = le.fit_transform(dataset['income'])

In [7]:
dataset = dataset.replace('?', np.nan)

In [8]:
columns_with_nan = ['workclass','occupation', 'native-country']

In [9]:
for col in columns_with_nan:
    dataset[col].fillna(dataset[col].mode()[0], inplace=True)

C:\Users\rakes\AppData\Local\Temp\ipykernel_30872\3965776787.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[col].fillna(dataset[col].mode()[0], inplace=True)

In [ ]:
dataset['marital.status'] = dataset['marital.status'].map(
                            {'Married-civ-spouse' : 1,
                             'Never-married' : 2,
                             'Divorced' : 3,
                             'Separated' : 4,
                             'Widowed' : 5,
                             'Married-spoused-absent' : 6,
                             'Married-AF-spouse' : 7
                             })

In [ ]:
for col in dataset.columns:
    if dataset[col].dtypes == 'object':
        encoder = LabelEncoder()
        dataset[col] = encoder.fit_transform(dataset[col])

In [26]:
X = dataset.drop('income', axis=1)
Y = dataset['income']

In [ ]:
X = X.drop(['workclass','education','race','gender','capital-loss','native-country','fnlwgt','relationship','capital-gain'], axis=1)

In [27]:
from sklearn.preprocessing import StandardScaler

In [30]:
X = scaler.fit_transform(X)

In [16]:
%pip install imlearn

from imlearn.over_sampling import RandomOverSampler
ros =RandomOverSampler(random_state=42)

In [31]:
ros.fit(X, Y)
X_resampled, Y_resampled = ros.fit_resample(X, Y)

X = X_resampled
Y = Y_resampled

In [32]:
from sklearn.ensemble import RandomForestClassifier
ran_for =RandomForestClassifier(max_depth=102, n_estimators= 40, random_state=42)

ran_for.fit(X, Y)

pickle.dump(ran_for, open('model.pkl','wb'))

model =pickle.load(open('model.pkl','rb'))

prediction = model.predict(scaler.transform(np.array([[20, 10, 3, 5, 40]])))